<!-- <% @categories.to_a.each do |category| %>
  <b> <%= category.name.capitalize %></b><br>
      <% category.equipments.each do |equip| %>
          <%= equip.name %> <br>
      <% end %>
<% end %> -->

<script>
  function checkvalue(val) {
    if (val === "other")
  	  document.getElementById('other_contribution').style.display = 'block';
  }
</script>
<form accept-charset="UTF-8" action="/surveys" method="post" class="survey_form">
  <label for="user_name">Name</label>
  <input id="user_name" name="user[name]" type="text" /> <br>
  <label for="user_email">Email</label>
  <input id="user_email" name="user[email]" /><br>

  <label for="user_monthly_contribution">   What amount would you be willing to pay per month as a member, knowing that you will get a better shop and experience as the number gets higher?</label><br>
  <select name="user[monthly_contribution]" id="user_monthly_contribution" onchange='checkvalue(this.value)'>
    <option value="50">Less than $100/Month</option>
    <option value="100">$100/Month</option>
    <option value="150">$150/Month</option>
    <option value="200">$200/Month</option>
    <optionvalue="250">$250/Month</option>
    <option value="other">Other</option>
  </select>
  <div id="other_contribution" name="other_contribution" style="display:none;">
      <input type="text" name="user[other_contribution]" id="others" value="" placeholder="Monthly Subscription" />
  </div


    <br><br>
    <h3>What equipment interests you?</h3><br>
    <% @categories.to_a.each do |category| %>
       <b><input type="checkbox" id="<%=category.name%>">
        <%= category.name.capitalize %>
      </input></b>
        <br>
          <% category.equipments.each do |equip| %>
              <input type="checkbox" name="wanted_equipment[]" value="<%= equip.id %>"><%= equip.name %></input> <br>
          <% end %>
    <% end %>
  <br><br>

  <h3>What equipment can you offer?</h3><br>
  <% @categories.to_a.each do |category| %>
     <b><input type="checkbox" id="<%=category.name%>">
      <%= category.name.capitalize %>
    </input></b>
      <br>
        <% category.equipments.each do |equip| %>
            <input type="checkbox" name="owned_equipment[]" value="<%= equip.id %>"><%= equip.name %></input> <br>
        <% end %>
  <% end %>
  <div id="donations">
  <label for="user_months_in_advance">How many months in advance would you be willing to pay?</label>
  <input id="user_months_in_advance" name="user[months_in_advance]" /><br>

  <label for="user_funding_donation">Would you be willing to donate funds to create the space? If so, how much?</label>
  <input id="user_funding_donation" name="user[funding_donation]" /><br>

  <label for="user_funding_details">What would you like in return for donating to create the space?</label>
  <input id="user_funding_details" name="user[funding_details]" /><br>
</div>
  <input name="commit" type="submit" value="Submit" />
</form
